# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @carlosrodf

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches the following folders, only these owners
# will be requested to review.
.chglog/*                   @anupclouddevops @carlosrodf
/.github/                   @anupclouddevops @carlosrodf
.pre-commit-config.yaml     @anupclouddevops @carlosrodf
Makefile                    @anupclouddevops @carlosrodf
run-examples.sh             @anupclouddevops @carlosrodf
